.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  width: calc($width_cell * 7 + 6 * $gap);

  // height: calc ($width_cell * 6 + 5 * $gap); // залишу на всякий випадок, щоб потім не перераховувати

  padding: 10px; // в завданні є, але ні на що не впливають
}

.calendar__day {
  width: $width_cell;
  height: $width_cell;
  background-color: #eee;
  border: 1px solid black;
  box-sizing: border-box;
  transition-duration: 0.5s;
  cursor: pointer;
}

.calendar__day:hover {
  background-color: #ffbfcb;

  transform: translateY(-20px);
}
